extends layout

block content
	div.container
		br
		h1 Contact
		br
		div.row
			div.col-12.col-sm-12.col-md-6.col-lg-6
				iframe(width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0", src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2437.578660921463!2d4.822757950777633!3d52.341789379681494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5e18f43bf6f75%3A0xece10594eb682ff9!2sJohn+M.+Keynesplein+2%2C+1066+EP+Amsterdam!5e0!3m2!1sen!2snl!4v1512747541169')
			div.col-12.col-sm-12.col-md-6.col-lg-6
				h2 B2 Building
				br
				h5 John M. Keynesplein 2
				h5 Amsterdam
				h5 The Netherlands
				h5 1066 EP
				h5 E: aleanalesnik@gmail.com
				h5 P: +1 (555) 555-5555