extends layout

block content
	div.container
		br
		h1 FAQS
		button.accordion What is BuyMyClothes?
		.panel
			p
				| BuyMyClothes is the leading fashion destination where people come together to buy and sell clothing and accessories from each other. We have built a community where our members can buy and sell with confidence and ease.
			br
			p
				| Shop for new and gently used fashion at prices up to 70 percent off retail. List an item for sale in less than 60 seconds all from this free web application!
		
		button.accordion How do I get started on BuyMyClothes?
		.panel
			p  
				| Create your account: it's simple - just fill out the sign up form and your good to go! We've created this process to be as painless as possible. 
			br
			p
				| Shop all products: the main feed is a collection of users who have also put up their items for sale. Feel free to comment on their posts, as prices are directly negotiable through each individual seller!
			br
			p
				| Start your Closet: List an item for sale in less than 60 seconds with the free web app. Snap a picture, add a detailed description, and see just how easy it is to make your first sale!
		
		button.accordion Where are you located?
		.panel
			p
				| Currently, BuyMyClothes is a startup web application venture based in Amsterdam, the Netherlands.
		
		button.accordion Can I buy and sell on BuyMyClothes if I am not in the Netherlands?
		.panel
			p
				| BuyMyClothes is currently only available in the Netherlands and its territories. We hope to be available to international customers very soon, so please check back!
	
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
	script.
		var acc = document.getElementsByClassName("accordion");
		var i;

		for (i = 0; i < acc.length; i++) {
			acc[i].onclick = function(){
				this.classList.toggle("active");
				
				var panel = this.nextElementSibling;
				
				if (panel.style.maxHeight) {
					panel.style.maxHeight = null;
				} else {
					panel.style.maxHeight = panel.scrollHeight + "px";
				}
			}
		}