doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Final Project
        link(rel="stylesheet" href="/css/fonts/fonts.css")
        link(rel="stylesheet" href="/css/bootstrap.css") 
        link(rel="stylesheet" href="/css/style.css")
        link(rel="icon" type="image/png" href="/images/icon.png" sizes="32x32")
    
    body
        header 
            div.navbar-wrapper
                nav.navbar.navbar-expand-lg.navbar-inverse.bg-inverse
                    div.container
                        a.navbar-brand(href="/profile")
                            strong(id="logo") BuyMyClothes.com
                        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNavAltMarkup", aria-controls="navbarNavAltMarkup", aria-expanded="false", aria-label="Toggle navigation")
                            span.navbar-toggler-icon
                        div#navbarNavAltMarkup.collapse.navbar-collapse
                            div.navbar-nav.ml-auto
                                a.nav-item.nav-link.nav-coloring(href='/profile') Profile
                                a.nav-item.nav-link.nav-coloring(href='/all_products') All Products
                                a.nav-item.nav-link.nav-coloring(href='/new_product') Add New Item
                                a.nav-item.nav-link.nav-coloring(href='/faq') FAQ
                                a.nav-item.nav-link.nav-coloring(href='/contact') Contact
                                a.nav-item.nav-link.nav-coloring(href='/logout') Logout
        main
            
            block content

        footer

    
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js')
    script(src='./js/bootstrap.js')