extends layout

block content
	div.container
		br
		h1 Add Your Item
		br
		div.row
			div.col-12.col-sm-12.col-md-12.col-lg-12
				.new-product
					form.col.s12(action='/new_product', method='POST', autocomplete='off', enctype='multipart/form-data')
						
						h4 Product Title
						input(id='product-title', type='text', rows='2', name='product_title', placeholder='what is it?' required)
						br
						br

						h4 Description
						textarea(rows='9', name='body', placeholder='what does it look like?' required)
						br
						br
						h4 Category
						select(name='category')
							option(value='Women\'s Clothing') Women's Clothing
							option(value='Women\'s Shoes') Women's Shoes
							option(value='Men\'s Clothing') Men's Clothing
							option(value='Men\'s Shoes') Men's Shoes
							option(value='Accessories') Accessories
							option(value='Other') Other
						br
						br

						h4 Product Image
						input(type='file', name='product_image' id='image-upload' required)
						br
						br
						h4 Color
						select(name='color')
							option(value='beige')  Beige
							option(value='black')  Black
							option(value='blue')  Blue
							option(value='brown')  Brown
							option(value='denim')  Denim
							option(value='bold')  Gold
							option(value='grey')  Grey
							option(value='breen')  Green
							option(value='multi-color')  Multi-color
							option(value='orange')  Orange
							option(value='pink')  Pink
							option(value='purple')  Purple
							option(value='red')  Red
							option(value='silver')  Silver
							option(value='white')  White
							option(value='yellow')  Yellow
						br
						br

						h4 Brand
						textarea(rows='2', name='brand', placeholder='Topshop, Vintage, etc.')
						br
						br

						h4 Price
						h6 <strong>(do NOT include € or $ signs)</strong>
						br
						textarea(rows='2', name='price', placeholder='$$$' required)
						br
						br
						button.btn.btn-default#newproduct(type="submit", name="submit") SUBMIT
					br
					br